/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* MOBILE - iPhone 5, 6; Galaxy 5; Nexus 5X, 6P */
@media screen and (max-width: 500px) {
  /* Typography */
  h3 {
    margin-left: 3% !important;
    width: 100% !important;
    font-size: 10px !important;
  }

  h4 {
    font-size: 35px !important;
    margin-top: -15px;
  }

  p {
    font-size: 15px !important;
  }

  .seo-text-left {
    margin-left: 3% !important;
    padding-right: 3% !important;
    width: 94% !important;
    font-size: 10px !important;
  }
  
  .seo-text-right {
    margin-left: 2% !important;
    padding-right: 2% !important;
    width: 96% !important;
    font-size: 10px !important;
  }
  
  /* Containers */
  .advent-container {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .seo-text-container {
    margin-bottom: 35px;
    flex-direction: column !important;
  }

  .gift-container {
    margin-left: 1% !important;
  }

  /* Images */
  .banner-img {
    padding: 2% !important;
    width: 100% !important;
    height: 30% !important;
  }

  .lipstick-hide-img {
    background-size: 100% !important;
  }
  
  .lipstick-show-img {
    background-size: 100% !important;
  }

  .lipstick-mobile-img {
    width: 96% !important;
    height: auto;
    margin-left: 2% !important;
    margin-bottom: 10px !important;
    border: 0.3px solid #CCCCCC;
  }

  .lipstick-modal-img {
    width: 100% !important;
    height: auto !important;
  }

  .snowflakes-img {
    background-size: 100% !important;
  }

  /* Box Grid */
  #box-grid {
    width: 96% !important;
    margin-left: 2% !important;
  }
  
  .box {
    width: 50% !important;
    height: 180px !important;
  }

  .box-numbers {
    font-size: 50px !important;
    padding-top: 5% !important;
  }

  /* Modal */
  .modal {
    width: 96% !important;
    height: auto !important;
  }

  .modal-content {
    overflow-y: auto;
    width: 96% !important;
    flex-direction: column !important;
    min-height: 100% !important;
    margin: 2% !important;
    padding: 5% !important;
    top: 0 !important;
    left: 0 !important;
  }

  .modal-close {
    position: absolute;
    left: 87%;
    top: 1%;
  }

  .code-box {
    margin: 7% !important;
  }
}

/* TABLETS - iPad, iPad Pro */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  /* Typography */
  h3 {
    margin-left: 3% !important;
    width: 100% !important;
  }

  h4 {
    font-size: 50px !important;
    margin-top: -15px;
    margin-left: -8%;
  }

  p {
    font-size: 15px !important;
    margin-left: -8%;
  }

  .seo-text-left {
    margin-left: 3% !important;
    padding-right: 3% !important;
    width: 94% !important;
  }
  
  .seo-text-right {
    margin-left: 2% !important;
    padding-right: 2% !important;
    width: 96% !important;
  }

  /* Containers */
  .advent-container {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .seo-text-container {
    margin-bottom: 35px;
    flex-direction: column !important;
  }

  /* Images */
  .banner-img {
    padding: 2% !important;
    width: 100% !important;
    height: 30% !important;
  }

  .lipstick-modal-img {
    margin-left: 15% !important;
    margin-bottom: 25px !important;
  }

  .lipstick-hide-img {
    background-size: 100% !important;
  }
  
  .lipstick-show-img {
    background-size: 100% !important;
  }

  .snowflakes-img {
    background-size: 100% !important;
  }

  /* Box Grid */
  #box-grid {
    width: 100% !important;
    padding: 2% !important;
  }

  .box {
    width: 25% !important;
    height: 180px !important;
  }

  .box-numbers {
    font-size: 50px !important;
    padding-top: 5% !important;
  }

  /* Modal */
  .modal {
    width: 96% !important;
    height: auto !important;
  }

  .modal-content {
    overflow-y: auto;
    width: 96% !important;
    flex-direction: column !important;
    min-height: 100% !important;
    padding: 8% !important;
    top: 0 !important;
    left: 0 !important;
  }

  .modal-close {
    position: absolute;
    left: 87%;
    top: 2%;
    font-size: 85px !important;
  }

  hr {
    margin-left: -8%;
  }

  .code-box {
    margin-left: 20% !important;
  }
}

/* DESKTOP */
@media screen and (min-width: 500px) {
  .hide-img {
    display: none; /* hide lipstick-mobile-img */
  }
}

/* ---------- */
/* TYPOGRAPHY */
/* ---------- */
h3 {
	height: 13px;
	width: 545px;
	color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 13px;
}

h4 {
  color: #000000;
	font-family: "Lucida Console";
	font-size: 34px;
	font-weight: 300;
	line-height: 41px;
}

p {
	font-family: Verdana;
	font-size: 13px;
	font-weight: 100;
	line-height: 17px;
}

.seo-text-left {
  height: 102px;
  width: 670px;
  color: #000000;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
}

.seo-text-right {
  margin-left: 30px;
  height: 102px;
  width: 670px;
  color: #000000;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}

#countdown-timer {
  color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	text-align: center;
}

.bold-text {
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: -1px;
}

.tnc {
  color: #999999;
	font-family: Verdana;
	font-size: 11px;
	font-weight: 300;
	line-height: 14px;
  text-align: center;
  margin-top: 20px;
}

/* ---------- */
/* CONTAINERS */
/* ---------- */
.advent-container {
  margin: 87px 157px 10px 158px;
}

.seo-text-container {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.gift-container {
  margin-top: 20px;
  margin-left: 56px;
  text-align: center;
}

/* ------ */
/* IMAGES */
/* ------ */
.banner-img {
	height: 500px;
  width: 1365px;
  margin-left: -1px;
}

.lipstick-hide-img {
  background: url(images/lipstick-hide.png);
  background-size: 310px;
}

.lipstick-show-img {
  background: url(images/lipstick-show.png);
  background-size: 310px;
}

.lipstick-modal-img {
  width: 450px;
  height: 450px;
}

.snowflakes-img {
  background: url(images/snowflakes.png);
  background-size: 310px;
}

.snowflakes-img:hover {
  cursor: pointer;
}

/* -------- */
/* BOX GRID */
/* -------- */
#box-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 25%;
  height: 310px;
  box-sizing: border-box;
  border: 0.3px solid #CCCCCC;
}

.box-numbers {
  color: #DDDDDD;
  font-family: "Lucida Console";
  font-size: 120px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 144px;
  text-align: center;
  padding-top: 75px;
}

.hide-number {
  color: white;
}

/* ----- */
/* MODAL */
/* ----- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #FFFFFF;
  border: none;
  margin: 8% auto;
  height: 450px;
  width: 900px;
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 0px !important; /* remove radius */
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0); /* remove shadow */
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.modal-close { /* modal close button */
  font-weight: 100;
  color: #000000;
  float: right;
  font-size: 50px;
  margin-right: 15px;
}

/* -------------- */
/* PROMO CODE BOX */
/* -------------- */
.code-box {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 30px;
}

.code-box-left {
	height: 40px;
	width: 118.82px;
	border: 1px solid #999999;
  background-color: #FFFFFF;
  color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
  text-align: center;
  padding-top: 10px;
}

.code-box-right {
	height: 40px;
  width: 151.39px;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
  text-align: center;
  padding-top: 10px;
}

.code-box-right:hover {
  cursor: pointer;
  opacity: 0.8;
}

.applied-disabled {
  pointer-events: none;
  height: 40px;
  width: 151.39px;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
  text-align: center;
  padding-top: 10px;
}