@media screen and (max-width: 500px) /* Mobile */ {

  .banner-container {
    margin-right: auto;
    margin-left: auto;
    padding-left:0px;
    padding-right:0px;
  }


  .banner-img {
    transform: scale(0.25);
    transform-origin: left;
  }
}

/* Typography */
h3 {
	height: 13px;
	width: 545px;
	color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 13px;
}

h4 {
  color: #000000;
	font-family: "Sephora Serif";
	font-size: 34px;
	font-weight: 300;
	line-height: 41px;
}

.text-left {
  height: 102px;
  width: 556px;
  color: #000000;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.text-right {
  margin-left: 30px;
  height: 102px;
  width: 556px;
  color: #000000;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}

p {
	font-family: Verdana;
	font-size: 13px;
	font-weight: 100;
	line-height: 17px;
}

.tnc {
  color: #999999;
	font-family: Verdana;
	font-size: 11px;
	font-weight: 300;
	line-height: 14px;
  text-align: center;
  margin-top: 20px;
}

#countdown-timer {
  color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	text-align: center;
}

.bold-text {
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: -1px;
}

/* Containers */
.advent-container {
  margin: 87px 157px 10px 158px;
}

.seo-text-container {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.gift-container {
  margin-top: 20px;
  margin-left: 56px;
  text-align: center;
}

/* Promo Code Box */
.code-box {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 30px;
}

.code-box-left {
	height: 40px;
	width: 118.82px;
	border: 1px solid #999999;
  background-color: #FFFFFF;
  color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
  text-align: center;
  padding-top: 10px;
}

.code-box-right {
	height: 40px;
  width: 151.39px;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
  text-align: center;
  padding-top: 10px;
}

.code-box-right:hover {
  cursor: pointer;
  opacity: 0.8;
}

.applied-disabled {
  pointer-events: none;
  height: 40px;
  width: 151.39px;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
  text-align: center;
  padding-top: 10px;
}

/* Images */
.banner-img {
	height: 400px;
  width: 1086px;
  margin-left: -1px;
}

.lipstick-hide {
  background: url(images/lipstick-hide.png);
  background-size: 282px 282px;
}

.lipstick-show {
  background: url(images/lipstick-show.png);
  background-size: 282px 282px;
}

.lipstick-modal {
  width: 450px;
  height: 450px;
}

.snowflakes {
  background: url(images/snowflakes.png);
  background-size: 282px 282px;
}

.snowflakes:hover {
  cursor: pointer;
}

/* Box Grid */
#box-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gift-box {
  height: 282px;
  width: 282px;
  border: 0.3px solid #CCCCCC;
}

.box {
  width: 25%;
  box-sizing: border-box;
}

.numbers {
  color: #DDDDDD;
  font-family: "Sephora Serif";
  font-size: 120px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 144px;
  text-align: center;
  padding-top: 66px;
}

.hide-number {
  color: white;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #FFFFFF;
  border: none;
  margin: 8% auto;
  height: 450px;
  width: 900px;
  display: flex;
  flex-direction: row;
  /* remove radius */
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
  /* remove shadow */
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
}

/* Modal Close Button */
.close {
  font-weight: 100;
  color: #000000;
  float: right;
  font-size: 50px;
  margin-right: 15px;
}