/* Typography */
h3 {
  margin: 0px 157px 25px 158px;
	height: 13px;
	width: 545px;
	color: #000000;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	line-height: 13px;
}

.text-left {
  margin-left: 157px;
  height: 102px;
  width: 556px;
  color: #000000;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.text-right {
  margin-left: 30px;
  height: 102px;
  width: 556px;
  color: #000000;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}

/* Containers */
.banner-container {
  margin: 87px 157px 10px 158px;
}

.seo-text-container {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

/* Images */
.banner-img {
	height: 400px;
	width: 1124.98px;
}

.lipstick-img {
  height: 282px;
  width: 282px;
  border: 0.3px solid #CCCCCC;
}

/* Box Grid */
.wrapper {
  margin: 35px 157px 50px 158px;
  display: grid;
  grid-template-columns: 282px 282px;
  grid-gap: 0px 0px;
}

.one {
  height: 282px;
	width: 282px;
  grid-column: 1;
  grid-row: 1;
}
.two { 
  height: 282px;
	width: 282px;
  grid-column: 2;
  grid-row: 1;
}
.three {
  height: 282px;
	width: 282px;
	
  grid-column: 3;
  grid-row: 1;
}
.four {
  height: 282px;
	width: 282px;
  grid-column: 4;
  grid-row: 1;
}
.five {
  height: 282px;
	width: 282px;
  grid-column: 1;
  grid-row: 2;
}
.six {
  height: 282px;
	width: 282px;
  grid-column: 2;
  grid-row: 2;
}
.seven {
  height: 282px;
	width: 282px;
  grid-column: 3;
  grid-row: 2;
}
.eight {
  height: 282px;
	width: 282px;
  grid-column: 4;
  grid-row: 2;
}
.nine {
  height: 282px;
	width: 282px;
  grid-column: 1;
  grid-row: 3;
}
.ten {
  height: 282px;
	width: 282px;
  grid-column: 2;
  grid-row: 3;
}
.eleven {
  height: 282px;
	width: 282px;
  grid-column: 3;
  grid-row: 3;
}
.twelve {
  height: 282px;
	width: 282px;
  grid-column: 4;
  grid-row: 3;
}